@import url("reset.css");

/* basic styles */


body
{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: .02em;
    background-color: #333;
    font-size: 10pt;
	/*color: #4B4B4B;*/
	color: #ccc;
	margin: 0;
	padding: 0;

}

body.navbar {
    color: #ccc;
    background-color: black; 
}
body.panel {
    background-color: #777;
    margin: 2em;
    padding: 1em;
}

a {
    color: #cccc00;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: none;
}

h2 {
    font-size: 1.3em;
    line-height: 2em;
}
/* text content for every page */
#content {
    padding: 0 0 2em 4em;
    width: 60%;
}

#content p {
    padding-bottom: 1em;
}

#whoami {
    float: right;
    background-color: #333;
    padding: 2em 2em 1em 2em;
    position: absolute;
    right: 10px;
    top: 0px;
}
.NavBarTitle {
    font-size: 1.5em;
    padding-top: 2em;
    padding-left: 1em;
}

.NavBarItem {
    text-align: left;
    padding-left: 3em;
    color: #DEE7C6;
    font-size: 1em;
    text-decoration: none;
}
.NavBarSearchItem {
    background-color: black;
    color: #DEE7C6;
    font-size: 8pt;
}
INPUT.NavBarSearchItem {
    background-color: white;
    color: black;
    font-size: 8pt;
}
.arrow {
    float: right;
    padding-right: 1em;
}


/* login page */

#logincontent {
    display: block;
    width: 264px;
    margin: 0 auto;
    text-align: center;
}

#tagline {
    font-size: 2em;
    color: #e65f1c;
}

/* all forms */
form {
    color: #fff;
    background: #2d2d2d;
    /*background: -webkit-gradient(*/
        /*linear,*/
        /*left bottom,*/
        /*left top,*/
        /*color-stop(0, rgb(60,60,60)),*/
        /*color-stop(0.74, rgb(43,43,43)),*/
        /*color-stop(1, rgb(60,60,60))*/
        /*);*/
     /*background: -moz-linear-gradient(*/
        /*center bottom,*/
        /*rgb(60,60,60) 0%,*/
        /*rgb(43,43,43) 74%,*/
        /*rgb(60,60,60) 100%*/
        /*);*/
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     padding: 2em;
     }


form a {
      color: #8c910b;
      text-shadow: 0px -1px 0px #000;
      }


form label {
    clear: both;
    float: left;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

form input:not([type=submit]){
    float: right;
}

form select, input {
    background-color: #ccb;
}

form select:not([name=os]) {
    float: right;
}

fieldset {
    margin: 1em auto;
}
.os {
    /*text-align: center;*/
    float: left;
}

form input[type=submit] {
    display: block;
    clear: both;
    background: #384313;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    letter-spacing: 1px;
    /*margin: auto;*/
    padding: 7px 5px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    position: relative;
    top: 20px;

}

form input[type=submit]:hover {
    background: #1e2506;
    cursor: pointer;
}

form input.vmname{
    line-height: 1.5em;
    width: 200px;
}
/* signup page form */
.auth {
    margin: 0 auto;
    width: 240px;
}

#signupbutton {
    float: right;
}


/* internal forms, such as newvm */

.innerform {
    width: 450px;
}
.innerform p {
    line-height: 2em;
}

/* node list output */

table.nodelist {
    border: 1px solid black;
    background-color: #;
    line-height: 1.5em;
    border-collapse: collapse;
}


.nodelist td {
    padding: 0.5em 1.5em 0.5em 1.5em; 
    border: 1px solid black;
}
.nodelist .heads {
    background-color: #b74a17;
}


.nodelist .up {
    background-color: #252;
}

.nodelist .down {
    background-color: #522;
}

/* extant styles, kept for reference */
/* 
TABLE.NavBarTitle {
    font-family: verdana,arial,serif;
    background-color: black;
    border: thin solid white; 
    padding: 1;
}
TD.NavBarTitle { 
    font-family: verdana,arial,serif;
    background-color: black;
    color: #DEE7C6;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
.NavBarItem {
    font-family: verdana,arial,serif;
    background-color: black;
    color: #DEE7C6;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
.NavBarSearchItem {
    font-family: verdana,arial,serif;
    background-color: black;
    color: #DEE7C6;
    font-size: 8pt;
}
INPUT.NavBarSearchItem {
    font-family: verdana,arial,serif;
    background-color: white;
    color: black;
    font-size: 8pt;
}
BODY.navbar {
    font-family: verdana,arial,serif;
    background-color: white;
    color: black;
    background-color: black; 
}
*/
